.align_center{
    text-align: center;    
}

.bloco_principal{
    border: black solid 1px;
    background-color: white;
  
}

.img_back{
    background-image: url("../img/acesso-fundo.jpg"); 
}
 
.p_text{
    font-size: 1rem;
}
 
td{
    border: black solid 1px;
}

#tabela_teste{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
   
}

#novo_teste{
    text-align: left!important;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }